button
  cursor: pointer

  [data-atoms="app"] section &
    border-radius: (BORDER_RADIUS * 2)
    background-color: BUTTON
    color: darken(BUTTON, 50%)

    &, & > abbr
      font-weight: FONT_WEIGHT_NORMAL

    &:not([disabled])
      box-shadow 0 -0.125rem rgba(0,0,0, 0.1) inset
      transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease

      &:hover
        background-color: darken(BUTTON, 20%)
        color: WHITE
      &:active
        background-color: darken(BUTTON, 40%)
        box-shadow inset 0 0.125rem 0 rgba(0,0,0, 0.1) inset

      &.accept
        background-color: ACCEPT
        &:hover
          background-color: darken(ACCEPT, 20%)
        &:active
          background-color: darken(ACCEPT, 30%)
      &.cancel
        background-color: CANCEL
        &:hover
          background-color: darken(CANCEL, 15%)
        &:active
          background-color: darken(CANCEL, 30%)
      &.warning
        background-color: WARNING
        &:hover
          background-color: darken(WARNING, 15%)
        &:active
          background-color: darken(WARNING, 30%)
      &.accept, &.cancel, &.warning
        color: #fff

    &[disabled]
      & > abbr, & .icon
        opacity: 0.35
