[data-atoms=app]
  [data-atom=progress]
    border: none
    background: BACKGROUND = darken(BACKGROUND, 7.5%)

    &::-webkit-progress-value
      background: THEME
      transition all ANIMATION_DURATION
    &::-webkit-progress-bar
      background: BACKGROUND
