header
  [data-atoms="app"] > article &, [data-atoms="app"] > aside &
    & [data-atom=heading]
      color: WHITE
      font-size: 1.15rem
      font-weight: 400

  [data-atoms=app].standalone > article &
    border-color: THEME

  [data-atoms=app].standalone > aside &
    border-color: darken(DARK, 10%)
